## Tipos de datos

#### Datos numéricos

INTEGER
REAL

|Tipo de dato|Dato|Expression|
|----------|----------|----------|
|numérico|integer|INTEGER|
|numérico|float|REAL|
|string|text|varchar(n)|
|string|text|text|
|date|date and time|timestamp|
|date|date|date|
|logic|boolean|bool|

Este es un ejemplo de como podríamos transformar los datos.

```sql
SELECT 
	AVG(weight :: REAL) AS average
    -- CAST AVG(weight AS REAL) AS average   <=== We also can use this expression
FROM
    products_data_all
WHERE
    units='oz'
```